<!DOCTYPE html>
<html>

  <body>
<canvas id="myCanvas" width="{{.width}}" height="{{.height}}" style="border:1px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>

<script>
var canvas = document.getElementById("myCanvas");
var ctx = canvas.getContext("2d");
ctx.moveTo(0,0);

var url = 'ws://' + window.location.hostname + ':' + window.location.port + '/websocket';
console.log("Connecting to "+url)
var ws = new WebSocket(url);

ws.onclose = function(close) {
    console.log(close)
}

ws.onerror = function(error){
    console.log(error)
}

ctx.fillText("Waiting for players",10,50);

ws.onopen = function() {
    console.log("Connected!")
    ws.onmessage = function(evt) {
	ctx.clearRect(0,0,canvas.width, canvas.height);
        ctx.beginPath();
        //console.log(evt.data)
	var paths = JSON.parse(evt.data)
	for (id in paths) {
	    ctx.moveTo(paths[id].coordinate[0].X, paths[id].coordinate[0].Y)
	    for (i in paths[id].coordinate) {
		ctx.lineTo(paths[id].coordinate[i].X, paths[id].coordinate[i].Y)
	    }
            
            ctx.strokeStyle = paths[id].color 
	    ctx.stroke();
	}
    }
    document.onkeydown = function(e) {
	e = e || window.event;
	var js = {"request": "move"};
	
	if (e.keyCode == '38') {
            console.log('up')
	    js["param"] = "up"
	}
	else if (e.keyCode == '40') {
            console.log('down')
	    js["param"] = "down"
	}
	else if (e.keyCode == '37') {
	    console.log('left')
	    js["param"] = "left"
	}
	else if (e.keyCode == '39') {
	    console.log('right')
	    js["param"] = "right"
	}
	else {
	    return
	}
	ws.send(JSON.stringify(js))
	
    }
}
</script>

</body>
</html>
